@using MVC_TEST.Models
@model Employee

@{
    ViewBag.Title = "StrongTypeView";
}

<h2>StrongTypeView</h2>

<ul>
    <li>@Model.Id</li>
    <li>@Model.Name</li>
    <li>@Model.Phone</li>
    <li>@Model.Email</li>
</ul>
